/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* These styles assume you are using ul and li */
.dropit {
    list-style: none;
  	padding: 0;
  	margin: 0;
    /*margin: 0px 0 0;*/
    float: right;
    display: inline-block;
}
.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    left: 0;  /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 110px;
    list-style: none;
	padding: 10px 20px 10px;
    padding-left: 0;
	margin: 15px 0 0 -25px;
}
.dropit .dropit-open .dropit-submenu { 
    display: block; 
    background: #4A9BA8;
    box-shadow:  0px 2px 4px 0px rgba(0,0,0,0.30);
    border-radius: 4px;
}
.dropit .dropit-open .dropit-submenu:after {
    content: " ";
    position: absolute;
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -8px;
    right: 10px;
}
.dropit .dropit-open .dropit-submenu:before {
   bottom: 100%;
   left: 13%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-bottom-color: #4A9BA8;
   border-width: 10px;
   margin-left: 5px;
 }
.dropit .dropit-open .dropit-submenu li {
    display: block;
    margin-bottom:  20px;
}
.dropit .dropit-open .dropit-submenu li:last-child {
    margin-bottom: 0px;
}
.dropit .dropit-open .dropit-submenu li a {
    color: #FFFFFF;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 100px;
    text-decoration: none;
    margin: 3px;
}
.dropit .dropit-open .dropit-submenu i {
    margin: 7px;
}



























