html, body{
  overflow-x: hidden;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #333333; 
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', Times, Georgia, serif;
}
h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}
p { 
  font-size: 20px;
  line-height: 28px;
  font-weight: 100; 
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}


@media (min-width: 768px) {
  .container {
  	width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
  	width: 970px;
  }
  .one-half {
  	width: 46%;
  }
  .one-third {
  	width: 29.33333%;
  }
  .one-fourth {
  	width: 21%;
  }
}
@media (min-width: 1200px) {
  .container {
  	width: 1170px;
  }
}


/* HEADER */
header {
	background-image: url("../images/background-hero.png");
	background-position: 0 0;
	background-size: cover;
  display: block;
	height: 100vh;
}
header nav {
  padding: 2em 0;
}
header nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0;
}
header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}
header nav ul > li.btn-outline {
  padding: 10px 25px;
  border: 3px solid #16ffc8;
  border-radius: 6px;
}
header nav ul > li.btn-outline:hover {
  background: #16ffc8;
}
header nav ul > li > a {
  color: #16ffc8;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color: #333333;
}
header .hero {
  text-align: center;
  display: block;
  position: relative;
}
header .hero h1 {
  font-size: 50px;
  line-height: 60px;  
  font-weight: 400;
  margin: 450px 0 20px;
  color: #3DC7E8;
}
header .hero p {
  font-family: 'Roboto Slab', Times, Georgia, serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 10px 0 30px;
  color: #FFFFFF;
}

/* BUTTONS */
.btn {
  border-radius: 4px;
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 30px;
  background: #16ffc8;
  border: 2px solid #16ffc8;
  box-shadow: 0px 2px 0px 0px #16ffc8;
}

/* BENEFITS */
.benefits {
  background-image: url("../images/dashboard-laptop.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 893px 734px;
  padding-top: 20px;
}
.benefits ul {
  text-align: left;
  display: inline-block;
  position: relative;
  margin: ;
  padding: 100px 0 100px 0;
}
.benefits li {
  list-style-type: none;
  display: inline-block;
  padding-bottom: 40px;
}
.benefits i {
  color: #FFFFFF;
  font-size: 50px;
  background-color: #4a9ba8;
  border-radius: 50%;
  float: left;
  display: inline-block;
  position: relative;
  padding: 30px;
  width: auto;
  margin: 0 0 0 0;
}
.benefits i:after {
  color: #4a9ba8;
  top: 100%;
  left: 13%;
  border: solid-transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  margin-left: -10px;  
}
.benefits .item {
  margin: 0 0 0 150px;
  padding: 0 0 20px 0;
}
.benefits h2 {
  color: #333333;
  margin: 0;
  padding-bottom: 20px;
}
.benefits p {
  float: left;
  display: inline-block;
  text-align: left;
  font-size: 20px;
  width: 380px;
  margin: 0 0 0 0;
}
.benefits img {
  height: 734px;
  width: 893px;
  float: right;
  display: inline-block;
  margin: -40px 0 0 50px;
}

/* PRICING */
.pricing {
	background-image: url("../images/background-pricing.png");
	background-position: 0 0;
	background-size: cover;
	height: 100vh;
	text-align: center;
	display: block;
	padding: 4em 0;
}
.pricing h2 {
  color: #FFFFFF;
}

.pricing ul li {
  list-style-type: none;
}
.box {
  padding: 0 15px 15px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  min-height: 439px;
  position: relative;
  margin-top:  25px;
}
.box.middle {
  min-height: 485px;
  margin-top: 0px;
}
.box h3 {
  font-family: 'Roboto Slab', Times, Georgia, serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  color: #FFFFFF;
  background: #3c6973;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
  left:0;
  right:0;
  top:0;
  text-align: center;
  margin:0 -15px 40px;
  padding:85px 0; 
}
.box.middle h3 {
  font-family: 'Roboto Slab', Times, Georgia, serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  color: #FFFFFF;
  background: #4a9ba8;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
  left:0;
  right:0;
  top:0;
  text-align: center;
  margin:0 -15px 40px;
  padding:85px 0; 
}
.one-third h4 {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: normal;
}
.one-third a.btn {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: semibold;
  text-decoration: none;
}
.one-third li {
  font-size: 21px;
  font-weight: normal;
}
.box-middle h5 {
  text-transform: uppercase;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: semibold;
}

/* TESTIMONIALS */
.testimonials {
  background-image: ;
  padding: 4em 0;
  text-align: left;
} 
.testimonials h2 {
  font-size: 28px;
}
.testimonials p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 20px;
}
.testimonl img {

}
.testimonials ul li {
  list-style-type: none;
}
.testimonials blockquote {
  font-size: 14px;
  font-weight: bold;
}
.quote img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  float: left;
  display: inline-block;
  margin: 20px 10px 0 0;
}
.quote p.name {
  float: right;
  display: inline-block;
  text-align: right;
  font-size: 14px;
  line-height: 19px;
  margin-top: 30px;
}

/* FOOTER */
footer h5 {
  text-transform: uppercase;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
}
footer li {
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
}
footer p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
}

