html, body{
  overflow-x: hidden;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #333333; 
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', Times, Georgia, serif;
}
h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}
p { 
  font-size: 20px;
  line-height: 28px;
  font-weight: 100; 
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}


@media (min-width: 768px) {
  .container {
  	width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
  	width: 970px;
  }
  .one-half {
  	width: 46%;
  }
  .one-third {
  	width: 29.33333%;
  }
  .one-fourth {
  	width: 21%;
  }
}
@media (min-width: 1200px) {
  .container {
  	width: 1170px;
  }
}


/* HEADER */
header .header-hero {
	background-image: url("../images/background-hero.png");
	background-position: 0 0;
	background-size: cover;
  display: block;
	height: 100vh;
}
header nav {
  padding: 2em 0;
}
header nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0;
}
header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}
header nav ul > li.btn-outline {
  padding: 10px 25px;
  border: 3px solid #16ffc8;
  border-radius: 6px;
}
header nav ul > li.btn-outline:hover {
  background: #16ffc8;
}
header .header-hero > nav ul > li > a {
  color: #16ffc8;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color: #333333;
}
header .hero {
  text-align: center;
  display: block;
  position: relative;
}
header .hero h1 {
  font-size: 50px;
  line-height: 60px;  
  font-weight: 400;
  margin: 450px 0 20px;
  color: #3DC7E8;
}
header .hero p {
  font-family: 'Roboto Slab', Times, Georgia, serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 10px 0 30px;
  color: #FFFFFF;
}

/* BUTTONS */
.btn {
  border-radius: 4px;
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 30px;
  background: #16ffc8;
  border: 2px solid #16ffc8;
  box-shadow: 0px 2px 0px 0px #16ffc8;
}

/* BENEFITS */
.benefits {
  background-image: url("../images/dashboard-laptop.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 893px 734px;
  padding-top: 20px;
}
.benefits ul {
  text-align: left;
  display: inline-block;
  position: relative;
  margin: ;
  padding: 100px 0 100px 0;
}
.benefits li {
  list-style-type: none;
  display: inline-block;
  padding-bottom: 40px;
}
.benefits i {
  color: #FFFFFF;
  font-size: 50px;
  background-color: #4a9ba8;
  border-radius: 50%;
  float: left;
  display: inline-block;
  position: relative;
  width: 2em;
  height: 2em;
  line-height: 2em;
  margin: 50px 0 0 30px;
}
.benefits .item {
  margin: 0 0 0 150px;
  padding: 0 0 20px 0;
}
.benefits h2 {
  color: #333333;
  margin: 0;
  padding-bottom: 20px;
}
.benefits p {
  float: left;
  display: inline-block;
  text-align: left;
  font-size: 20px;
  width: 380px;
  margin: 0 0 0 0;
}
.benefits img {
  height: 734px;
  width: 893px;
  float: right;
  display: inline-block;
  margin: -40px 0 0 50px;
}

/* PRICING */
.pricing {
	background-image: url("../images/background-pricing.png");
	background-position: 0 0;
	background-size: cover;
	height: 100vh;
	text-align: center;
	display: block;
	padding: 2em 0 0 0;
}
.pricing h2, .pricing p {
  color: #FFFFFF;
}
.pricing ul.container {
  margin-top: 80px;
}
.pricing ul li {
  list-style-type: none;
}
.box {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  border-radius: 0 0 20px 20px;
  min-height: 500px;
  position: relative;
  margin-top:  50px;
  padding: 0 15px;
}
.box.middle {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  border-radius: 0 0 20px 20px;
  min-height: 560px;
  margin-top: 0px;
  padding: 0px 15px;
}
.box .top {
  background: #3c6973;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
  margin: 0 -15px 10px;
  padding: 0px 0 25px 0;
}
.box h3 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin:0 -15px 0px;
  padding: 55px 0 2px 0; 
}
.box h4 {
  font-size: 26px;
  font-weight: normal;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0px -15px 10px;
  padding: 0 0 15px 0;
}
.middle.heading {
  position: relative;
  margin: 5% 0%;
  width: 100%;
}
.middle.heading h5 {
  color: #FFFFFF;
  background-color: #333333;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  margin: -42px 10% 0 10%;
  padding: 10px 0;
  width: 80%;
}
.middle-top {
  background: #4a9ba8;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
  margin: 0 -15px 10px;
  padding: 0px 0 45px 0;  
}
.box.middle h3 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin:0 -15px 0px;
  padding: 75px 0 2px 0;
} 
.box.middle h4 {
  font-size: 26px;
  font-weight: normal;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0px -15px 10px;
  padding: 0 0 15px 0;
}
.box h4 span {
  font-size: 26px;
  vertical-align: top;
  bottom: 100px;
}
.box h4 span.yr {
  font-size: 16px;
  font-weight: normal;
  color: #FFFFFF ;
  vertical-align: middle;
}
.box .btn {
  font-size: 16px;
  font-weight: semibold;
  text-transform: uppercase;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
  text-decoration: none;
  position: relative;
  bottom: 23px;
}
.box ul li {
  font-size: 21px;
  line-height: 31px;
  font-weight: normal;
  text-align: left;
  width: 250px;
  margin: 0 40px 20px 0px;
}
.box.middle ul li {
  font-size: 21px;
  line-height: 31px;
  font-weight: normal;
  text-align: left;
  margin: 0px 40px 20px 0px;
}

/* TESTIMONIALS */
.testimonials {
  background-image: url("../images/image-testimonial-block.png");
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 80vh;*/
  text-align: left;
}
.testimonials .container {
  -webkit-margin-before: 0px;
}
.testimonials h2 {
  font-size: 28px;
  color: #FFFFFF;
  margin: 180px 0 0 80px;
}
.testimonials p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  width: 345px;
  margin-left: 80px;
}
.testimonials li {
  margin: 50px 0 0 0;
}
.testimonials ul li {
  list-style-type: none;
}
.testimonials img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  float: left;
  display: inline-block;
  position: relative;
  margin: 60px 40px 0 50px;
}
.testimonials .quote {
  margin: 0 0 0 150px;
  padding: 0 -80px 60px 0;
}
.testimonials blockquote {
  font-size: 14px;
  font-weight: bold;
  float: left;
  display: inline-block;
  text-align: left;

  width: 435px;
  height: 54;
  margin: -62px 0 0 0;
}
.quote p.name {
  font-size: 14px;
  font-style: italic;
  line-height: 19px;
  float: right;
  display: inline-block;
  text-align: right;
  color: #333333;
  margin: 5px 0 0 0px;
}
/* FOOTER */
footer h5 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: #333333;
}
footer a {
  font-size: 13px;
  font-weight: bold;
  line-height: 19px;
  text-decoration: none;
  text-align: left;
  margin: 0 80px 0 0px;
}
footer a:visited {
  color: #333333;
}
footer nav ul > li {
  list-style-type: none;
  margin: 0 0 0 -40px;
}
footer i {
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
  display: inline;
}
footer .one-half p {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
}
footer .one-half img {
  float: right;
  width: 69px;
  height: 40px;
}
footer .one-half {
  margin: 0;
}

/* DASHBOARD */
.dashboard {
  background: #F1F2F2;
}

/* HEADER NAVBAR */
.dashboard div {
  float: left;
}
.dashboard .dashboard-logo img {
  width: 30px;
  height: 40px;
}
/*.dashboard header nav {
  padding: 2em 0;*/
.dashboard ul {
  -webkit-padding-start: 0;
  margin: 10px 0;
}
.dashboard .nav-items a {
  color: #3c6973;
  float: left;
}
.dashboard .nav-items a:visited {
  color: #3c6973;
}
.dashboard form {
  float: right;
}
input[type="text"] {
    width: 200px;
    height: 20px;
    padding-right: 50px;
}

input[type="submit"] {
    margin-left: -50px;
    height: 25px;
    width: 50px;
    background: blue;
    color: white;
    border: 0;
    -webkit-appearance: none;
}
.dashboard .settings {
  float: right;
}
.dashboard .settings img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block; 
  float: right;
  /*margin: 0 80px 0 0px;*/
}
.dashboard .settings p {
  font-size: 13px;
  font-weight: bold;
  color: #3c6973;
  display: inline-block;
}
.dashboard .settings a {
  margin: 0 10px 0 0;
}
.dashboard .settings a:visited {
  color: #3c6973;
}
.header-page h1 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: lighter;
}

/* LEFT NAV */
.left-nav .items {
  margin: 
  padding: 0 10%;
}
.left-nav .items ul li {
  list-style-type: none;
}
.left-nav .items ul li a {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  color: #3c6973;
}
.left-nav .items ul li a i {
  width: 15px;
  text-align: center;
  margin-right: 8px;
}

/* CONTENTS */
.content {
  width: 98%
  padding: 6em 1% 1.5em;
  float: right;
  position: relative;
}
.content-item {
  width: 96%;
  margin: 0 2% 25px;
  float: left;
  display: block;
}
.item-box-image {
  display: inline-block;
  width: 165px;
  height: 130px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
  position: relative;
  overflow: hidden;
}
.item-box-text {
  display: inline-block;
  width: 165px;
  height: 130px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
  position: relative;
  overflow: hidden;
  padding: 20px;
}

/* Larger Mobile Devices */
@media (min-width: 460px) {
  .content {
    padding: 1.5em 1%;
    float: right;
    width: 90%;
    position: relative;
  }
  .content-item {
    width: 46%;
    margin: 0 2% 25px;
    float: left;
    display: block;
  }
}
/* Tablets */
@media (min-width: 768px) {
  .content {
    padding: 1.5em 5%;
    float: right;
    width: 90%;
    position: relative;
  }
  .content > .container {
    width: 700px;
  }
  .content-item {
    width: 31.33333%;
    margin: 0 1% 25px;
  }
}
/* Laptops and Desktops */
@media (min-width: 992px) {
  .content {
    padding: 1.5em 1%;
    float: right;
    width: 83.33333333%;
    position: relative;
  }
  .content > .container {
    width: auto;
  }
  .content-item {
    width: 23%;
    margin: 0 1% 25px;
  }
}

.item-box > img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
}
.item-box h2 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  margin: 0;
}
.item-box h2 a{
  color: #3DC7E8;
  text-decoration: none;
}
.item-box h2 img {
  height: 13px;
  position: relative;
  top: 2px;
  margin-right: 5px;
}
.item-box p {
  color: #333333;
  font-size: 13px;
  line-height: 15px;
  margin: 5px 0 0;
}





